.active-color {
  border: 1px rgb(0, 56, 187) solid;
  border-radius: 100%;
  overflow: hidden;
  height: 61rpx;
}
.nutui-react-demo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-box {
  height: 70vh;
  overflow-y: scroll;
}
.scroll-box .box {
  width: auto;
  margin: 20px;
  text-align: center;
}
.linewidth {
  width: 300rpx;
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
